---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      {% if paginator.posts %}
        {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
        <h1>Please print!!!!!</h1>
        <h1>{{ collectiondata.title }}</h1>
        {{ collectiondata.description | markdownify }}

      {% else %}
        <h1>Blog</h1>
        <p>Welcome to my blog! This is mostly a place for personal writing and miscellaneous ideas that don't fit anywhere else. If you're interested in my personal projects, consider visiting instead my <a href="https://tkaminsky.github.io/projects">Projects</a> page.</p>
        <h1>{{ page.title }}</h1>
        {{ content }}
        
      {% endif %}

    </article>

    {% include post-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
